* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #E1E4E9;
}

.icons-bg {
	width: 60%;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 270px;
	box-sizing: border-box;
	padding: 20px;
	background-color: #E1E4E9;
	text-align: center;
	border-radius: 20px;
	box-shadow: -10px -10px 15px 0px rgba(247,242,247,1),
        10px 10px 20px -10px rgba(5,1,5,1);

}

.all-box {
	display: inline-block;
	width: 10%;
	height: 90px;
	background-color: #E1E4E9;
	border-radius: 20px;
	box-shadow: -10px -10px 15px 0px rgba(247,242,247,1),
        10px 10px 20px -10px rgba(5,1,5,1);
	box-sizing: border-box;
	padding-top: 15px;
}

.mg {
	margin-left: 40px;
}

.icons {
	font-size: 60px;
}
