* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #E1E4E9;
}

.icons-bg {
	width: 60%;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 270px;
	box-sizing: border-box;
	padding: 20px;
	background-color: #E1E4E9;
	text-align: center;
	border-radius: 20px;
	box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.50);
/*	box-shadow: -3px -3px 16px 0px rgba(255,255,255,1);*/

}

.all-box {
	display: inline-block;
	width: 10%;
	height: 90px;
	background-color: #E1E4E9;
	border-radius: 20px;
	box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.50);
/*	box-shadow: -3px -3px 16px 0px rgba(255,255,255,1);*/
	box-sizing: border-box;
	padding-top: 15px;
}

.mg {
	margin-left: 40px;
}

.icons {
	font-size: 60px;
}
